#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    font-size: 14px;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

#login > input {
    width: 200px;
    margin: 10px;
}

.button {
    font-family: 'Roboto Mono', monospace;
    padding: 1px 3px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 2px;
    background-color: rgb(133, 133, 215);
    width: 150px;
    height: 45px;
    margin: 10px auto;
    cursor: pointer;
    line-height: 1.3;
    box-shadow: 3px 2px 4px 1px rgba(0,0,0,.4);
}

